<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>jiting.petstore.user.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>jiting.petstore.category.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PetServlet</servlet-name>
    <servlet-class>jiting.petstore.pet.servlet.PetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>jiting.petstore.cart.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>jiting.petstore.order.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminCategoryServlet</servlet-name>
    <servlet-class>jiting.petstore.category.servlet.admian.adminCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminPetServlet</servlet-name>
    <servlet-class>jiting.petstore.pet.servlet.admin.adminPetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminAddServlet</servlet-name>
    <servlet-class>jiting.petstore.pet.servlet.admin.adminAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminOrderServlet</servlet-name>
    <servlet-class>jiting.petstore.order.servlet.admin.adminOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>jiting.petstore.user.servlet.admin.adminServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PetServlet</servlet-name>
    <url-pattern>/PetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminCategoryServlet</servlet-name>
    <url-pattern>/admin/adminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminPetServlet</servlet-name>
    <url-pattern>/admin/adminPetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminAddServlet</servlet-name>
    <url-pattern>/admin/adminAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminOrderServlet</servlet-name>
    <url-pattern>/admin/adminOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/admin/adminServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>jiting.petstore.user.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>CartServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>OrderServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsps/cart/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsps/order/*</url-pattern>
  </filter-mapping>
</web-app>